{% extends 'models/main.html' %}
{% block title %}RaspiBio{% endblock %}
{% block styles %}
<link rel="stylesheet" href="static/css/terminal.css" />
<link rel="stylesheet" href="static/css/home_layout.css" />
<link rel="stylesheet" href="static/css/graph.css" />
{% endblock %}
{% block content %}
<div class="page-header">
  <h1>RaspiBio</h1>
</div>
<div class="lead" id="one-true">
  <div class="row">
    <div class="column" id="children">
      <table>
        <tr><td>Online</td></tr>
        {% for result in children %}
          <tr>
            {% for field in result %}
              <td>{{field}}</td>
            {% endfor %}
          </tr>
        {% endfor %}
      </table>
    </div>
  </div>
  <div class="row">
    {% for name in genome_name %}
      <div class="column" id="{{name}}"></div>
    {% endfor %}
  </div>
  <div class="row">
    <div class="column" id="line_graph"></div>
  </div>
</div>
<script type="text/javascript" src="static/js/make_graph.js"></script>
<script type="text/javascript">
    names = {{genome_name|safe}}
    data = {{genome_graph|safe}}
    var colormap = Array(data[0][0].length)
    for (let i = 0; i<colormap.length; i++){
      colormap[i] = d3.interpolateInferno((i+1)/data[0][0].length);
    }
    for(let i=0; i<names.length; i++){
      make_graph(data[i],"#"+names[i], colormap)
    }
    make_graph([{{ graph|safe }}], "#line_graph", ["#ff00ff"], fill_area=false)
</script>

{% endblock %}

{% block post_scripts %}
{% endblock %}
