{% extends 'models/main.html' %}
{% block title %}RaspiBio{% endblock %}
{% block styles %}
<link rel="stylesheet" href="static/css/terminal.css" />
<link rel="stylesheet" href="static/css/home_layout.css" />
{% endblock %}
{% block content %}

<div class="page-header">
  <h1>RaspiBio</h1>
</div>
<div class="lead" id="one-true">
  <div class="row">
    <div class="column" id="children">
      <table>
        <tr><td>Online</td></tr>
        {% for result in children %}
          <tr>
            {% for field in result %}
              <td>{{field}}</td>
            {% endfor %}
          </tr>
        {% endfor %}
      </table>
    </div>
  </div>
  <div class="row">
    <div class="column">
      {{genome|safe}}
    </div>
  </div>
</div>
<div class="row">
  <div class="column">
    {{graph|safe}}
  </div>
</div>

{% endblock %}

{% block post_scripts %}
{% endblock %}
